
* {
  padding: 0;
  margin: 0
}

input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0 !important;
  border: 0 !important;
}

body,
html {
  height:100%;
}

.sidebar-nav {
  padding: 0;
}

.modal form {
  margin-bottom: 0
}

a {
  outline: none;
}

.modal-footer .spinner {
  width: 18px;
  height: 18px;
  background-image: url("images/spinner.gif");
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  display: block
}

#files {
  margin: 0 20px 0 260px ;
}

#files-row {
  overflow: auto;
}

#header>div{
  border-radius: 0;
}

.container-fluid {
  padding-left: 0;
}

/*-----------------------------  FILES ----------------------------------------*/

.file {
  float: left;
  width: 130px;
  height: 130px;
  padding: 5px;
  margin: 0 10px 10px 0;
  text-align: center;
  overflow: hidden;
  position: relative;
  -moz-user-select: none;
  cursor: pointer;
}

.file:hover {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.file .icon {
  height: 75px;
  margin: 0 auto 10px;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  -moz-user-select: none;
}

.file .icon img {
  -moz-user-select: none;
}

.file p {
  white-space: nowrap;
  position: relative;
}

.file p.name {
  overflow-x: hidden;
}

.file p i {
  display: block;
  position: absolute;
  height: 100%;
  width:8px;
  top: 0;
  right: 0;
  z-index: 2;
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255, 1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-start(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255, 1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255, 1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255, 1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255, 1) 100%);
  background: linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255, 1) 100%);
}


.file .archive {
  background-image: url("images/icons/archive.png")
}

.file .document {
  background-image: url("images/icons/document.png")
}

.file .music {
  background-image: url("images/icons/music.png")
}

.file .unknown {
  background-image: url("images/icons/unknown.png")
}

.file .video {
  background-image: url("images/icons/video.png")
}

.file .size {
  color: #888;
  font-size: 11px;
}

.file .img_size {
  color: #a0a0a0;
  font-size: 9px;
}

.file:hover p.size,
.file:hover .img_size {
  color: #000
}

.file .fileOverlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url('images/crop/pixel.gif') 0 0 repeat;
}

.file .hide {
  display: none;
}

.btn.btn-loader {
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-animation: btn-loader 2s linear infinite;
  -moz-animation: btn-loader 2s linear infinite;
  animation: btn-loader 2s linear infinite;
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
}

/* file uploader */
#upload-link {
  position: relative;
  overflow: hidden;
}

input[multiple] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  border-width: 0 0 100px 200px;
  opacity: 0;
  filter: alpha(opacity=0);
  direction: ltr;
  cursor: pointer;
}

.attach-another {
  position: relative;
  overflow: hidden;
}

#upload-modal ul.upload {
  list-style-type: none;
}

#upload-modal ul.upload li {
  line-height: 24px;
}

#upload-modal ul.upload li.disallowed {
  color: #888;
}

#upload-modal ul.upload li div.progress{
   display: inline-block;
   width: 100px;
   height: 10px;
   margin-bottom: 0;
}

#upload-modal ul.upload li.finished.ok:after {
  content: 'Ok!';
  color: #008800;
}

#upload-modal ul.upload li.finished.error .note {
  color: #770000;
}

#upload-modal ul.upload em {
  padding-right: 5px;
}

#upload-modal ul.upload li.disallowed .note {
  color: #770000;

}

#upload-modal ul.upload li.disallowed .note:first-letter {
  text-transform: uppercase;
}
