/* reset */

* {
  padding: 0;
  margin: 0
}

input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0 !important;
  border: 0 !important;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
  /* overall layout */

  body,
  html {
  height:100%;
}

a {
  outline: none;
}

#header>div{
  border-radius: 0;
}

.container-fluid {
  padding-left: 0;
}

.navbar {
  position: relative;
  z-index: 2;
}

#left,
#files {
  position: relative;
  min-height: 100%;
  margin-top: -58px;
}

#left {
  width: 220px;
  float: left;
  margin-left: 20px;
  margin-bottom: 0;
}

#files {
  margin-right: 20px;
  margin-left: 260px;
}

#files:after,
#files:before {
  content: '';
  position: absolute;
  height: 10px;
  left: 0;
  right: 12px;
  background: 0 0 repeat-x url("data:image/png; base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAUCAYAAABMDlehAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAD9JREFUeNo8ykEKABAYROHJCewUhfufCmVhxQ3438Ysvpp6ujYn6cCCCQMa9H+nrPUgrocACTJUKJ9IvJ8AAwDoZhYTZkpoLAAAAABJRU5ErkJggg==");
  z-index: 2;
}

#files:before {
  top: 110px;
  background-position: 0 0;
}

#files:after {
  bottom: 10px;
  background-position: 0 100%;
}


#dirs::-webkit-scrollbar,
#files-row::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  border-radius: 4px;
}

#dirs:hover::-webkit-scrollbar,
#files-row:hover::-webkit-scrollbar {
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2), inset -1px -1px 1px rgba(0, 0, 0, 0.1);
}

#dirs::-webkit-scrollbar-thumb,
#files-row::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  border-radius: 4px;
  min-height: 8px;
}

#dirs:hover::-webkit-scrollbar-thumb,
#files-row:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

#dirs::-webkit-scrollbar-button,
#files-row::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

#dirs::-webkit-scrollbar-corner,
#files-row::-webkit-scrollbar-corner {
  background-color: transparent;
}

/*  Folders tree (left column)  */

#dirs {
  position: absolute;
  width: 100%;
  top: 58px;
  bottom: 0;
  overflow: auto;
  margin-bottom: 10px !important;
}

#dirs p {
  margin-bottom: 0;
}

#dirs #root {
  margin: 30px 0 15px;
}

.directories {
  padding: 0 0 0 10px;
  list-style: none;
  font-size: 13px;
  position: relative;
}

.directories div {
  margin: 0;
  padding: 1px 0 1px 14px;
}

.directories div p em {
  position: absolute;
  width: 15px;
  min-height: 100%;
  right: 0;
  top: 0;
  z-index:2;
  background: -moz-linear-gradient(left, rgba(245,245,245,0) 0%, rgba(245,245,245, 1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-start(0%,rgba(245,245,245,0)), color-stop(100%,rgba(245,245,245, 1)));
  background: -webkit-linear-gradient(left, rgba(245,245,245,0) 0%,rgba(245,245,245, 1) 100%);
  background: -o-linear-gradient(left, rgba(245,245,245,0) 0%,rgba(245,245,245, 1) 100%);
  background: -ms-linear-gradient(left, rgba(245,245,245,0) 0%,rgba(245,245,245, 1) 100%);
  background: linear-gradient(left, rgba(245,245,245,0) 0%, rgba(245,245,245, 1) 100%);
}

.directories>div{
  padding-left:0 !important
}

.directories div p {
  white-space:nowrap;
  position: relative;
  padding-left: 100px;
  margin: 0 0 0 -100px;
}

.directories div p.selected {
  background: #0088CC;
}

.directories div p.selected em {
  background: -moz-linear-gradient(left, rgba(0,136,204,0) 0%, rgba(0,136,204, 1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-start(0%,rgba(0,136,204,0)), color-stop(100%,rgba(0,136,204, 1)));
  background: -webkit-linear-gradient(left, rgba(0,136,204,0) 0%,rgba(0,136,204, 1) 100%);
  background: -o-linear-gradient(left, rgba(0,136,204,0) 0%,rgba(0,136,204, 1) 100%);
  background: -ms-linear-gradient(left, rgba(0,136,204,0) 0%,rgba(0,136,204, 1) 100%);
  background: linear-gradient(left, rgba(0,136,204,0) 0%, rgba(0,136,204, 1) 100%);
}


.directories div p.overDrop {
  background: #e8e8e8; /* IE < 9 */
  background: rgba(0,0,0,0.1);
}

.directories div a {
  display: block;
  text-decoration: none;
  padding: 3px 0;
  margin-left: 17px;
  white-space:nowrap;
  line-height: 18px;
  outline: none;
}

.directories div.open > p a {
}

.directories div p.selected a {
  color: #fff;
}

.directories div p.selected a:hover {
  color: #000;
}

.directories div.process > p i {
  background: url(images/directories/spinner.gif) 0 1px no-repeat;
  height: 17px !important;
  margin-top: 3px;
}

.directories div i {
  display: block;
  float: left;
  margin-top: 5px;
  cursor: pointer;
}

.directories div i:hover {
  background-color: rgba(90,90,90, 0.4);
}

.directories div.open > p i {
  background-position: -313px -119px;
}

#root>p>i,
.directories p.noChild i {
  cursor: default;
}

.directories p.noChild i {
  opacity: 0.2;
}

.directories p.noChild i:hover,
#root > p i:hover{
  background-color: transparent;
}

.directories p.noChild strong.disableOpen {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: url('images/pixel.gif') 0 0 repeat;
  z-index: 100;
}


/* files (right column) */

#breadcrumb {
  position: absolute;
  left: 0;
  top: 58px;
  width: 100%;
}

.breadcrumb {
  margin: 0;
}

#files-row {
  position: absolute;
  width: 100%;
  left: 0;
  top: 110px;
  bottom: 10px;
  overflow: auto;
  padding: 10px 0;
}

.file {
  float: left;
  width: 130px;
  height: 130px;
  padding: 5px;
  margin: 0 10px 10px 0;
  text-align: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background: #fff;
}

.file.dragged {
  opacity: 0.5;
  filter: Alpha(opacity=50);
}

.file:hover {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.file .icon {
  height: 75px;
  margin: 0 auto 10px;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  -moz-user-select: none;
}

.file .icon img {
  -moz-user-select: none;
}

.file p {
  white-space: nowrap;
  position: relative;
}

.file p.name {
  overflow-x: hidden;
}

.file p i {
  display: block;
  position: absolute;
  height: 100%;
  width:8px;
  top: 0;
  right: 0;
  z-index: 2;
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255, 1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-start(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255, 1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255, 1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255, 1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255, 1) 100%);
  background: linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255, 1) 100%);
}


.file .archive {
  background-image: url("images/icons/archive.png")
}

.file .document {
  background-image: url("images/icons/document.png")
}

.file .music {
  background-image: url("images/icons/music.png")
}

.file .unknown {
  background-image: url("images/icons/unknown.png")
}

.file .video {
  background-image: url("images/icons/video.png")
}

.file .size {
  color: #888;
  font-size: 11px;
}

.file .img_size {
  color: #a0a0a0;
  font-size: 9px;
}

.file:hover p.size,
.file:hover .img_size {
  color: #000
}

.file .fileOverlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url('images/crop/pixel.gif') 0 0 repeat;
}

.file .hide {
  display: none;
}

.btn.btn-loader {
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-animation: btn-loader 2s linear infinite;
  -moz-animation: btn-loader 2s linear infinite;
  animation: btn-loader 2s linear infinite;
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
}

/* modal styles bootstrap correction */

.modal, .modal.fade-in {
  margin-top: 0;
  top: 100px !important;
}

.modal form {
  margin-bottom: 0
}

.sidebar-nav {
  padding: 0;
}

.modal-footer .spinner {
  width: 18px;
  height: 18px;
  background-image: url("images/spinner.gif");
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  display: block
}

/* file uploader */

#drop-files {
  display: none;
  position: absolute;
  z-index: -1;
  border: 6px dashed rgba(0,0,0, 0.2);
  width: auto;
  right: 20px;
  top: 4px;
  bottom: 6px;
  left: 1px;
}

#files.over #drop-files {
  display: block;
}

#files.over .file {
  z-index: -2;
}

#upload-link {
  position: relative;
  overflow: hidden;
}

input[multiple] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  border-width: 0 0 100px 200px;
  opacity: 0;
  filter: alpha(opacity=0);
  direction: ltr;
  cursor: pointer;
}

.attach-another {
  position: relative;
  overflow: hidden;
}

#upload-modal ul.upload {
  list-style-type: none;
}

#upload-modal ul.upload li {
  line-height: 24px;
}

#upload-modal ul.upload li.disallowed {
  color: #888;
}

#upload-modal ul.upload li div.progress{
  display: inline-block;
  width: 100px;
  height: 10px;
  margin-bottom: 0;
}

#upload-modal ul.upload li.finished.ok:after {
  content: 'Ok!';
  color: #008800;
}

#upload-modal ul.upload li.finished.error .note {
  color: #770000;
}

#upload-modal ul.upload em {
  padding-right: 5px;
}

#upload-modal ul.upload li.disallowed .note {
  color: #770000;

}

#upload-modal ul.upload li.disallowed .note:first-letter {
  text-transform: uppercase;
}

.resize-modal {
  overflow: hidden;
}

.resize-modal .resize-fields {
  float: left;
  overflow: hidden;
}

.resize-modal .proportion {
  float: left;
  padding-top: 12px;
}

.resize-modal input[readonly] {
  cursor: default !important;
}

.resize-modal .input-append {
  float: left;
}

.resize-modal .times {
  line-height: 25px;
  font-size: 16px;
}



#error-modal {
  width: 480px !important
}
