
.navbar-inner .container-fluid {
  padding-left: 0
}

#input-ratio {
  font-size: 10px;
  padding: 2px;
  margin-bottom: 0;
  margin-top: 6px;
  width: 40px;
  text-align: center
}

html, body {
  height: 100%;
}

body {
  overflow: hidden;
  background: #ababab;
}

#tools {
  margin: 0;
}

#tools>div{
  border-radius: 0;
}

#area {
  position: relative;
  overflow: hidden;
  min-height: 100%;
  max-height: 100%;
}

#area #img {
  position: absolute;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  z-index: 40;
  cursor: crosshair;
  box-shadow: 0 0 10px #555;
}

#area.dragable #img {
  cursor: url("../images/crop/grab.cur"), move;
}

#area #img.active.in {
  cursor: url("../images/crop/zoom_in.cur"), crosshair;
}
#area #img.active.out {
  cursor: url("../images/crop/zoom_out.cur"), crosshair;
}

#area.dragable #img.movingNow,
#area #img #cropper.show.movingNow {
  cursor: url("../images/crop/grabbing.cur"), move
}

#area #img > div {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50;
  top: 0;
  left: 0;
}

#area #img div#overlay {
  z-index: 2;
  opacity: 0.4;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=40)";
  background: #000;
}

#area #img img {
  display: block;
}

#area #img img#over {
  position: absolute;
  z-index: 49;
  top: 0;
  left: 0;
  clip: rect(0px,0px,0px,0px);
}

#area #img #cropper {
  display: none;
  width: 0;
  height: 0;
  background: url("../images/crop/pixel.gif") 0 0;
  -moz-user-select: -moz-none;
  -webkit-user-select: -webkit-none;
  -moz-box-shadow: 0px 0px 2px #fff;
  -webkit-box-shadow: 0px 0px 2px #fff;
  box-shadow: 0 0 2px #fff;
}

#area #img #undercoat {
  display: none;
  width: 0;
  height: 0;
  z-index: 1 !important;
}

#area #img #undercoat.show {
  display: block;
  background: #c8c8c8;
}

#area #img #cropper.show {
  display: block;
  cursor: url("../images/crop/grab.cur"), move;
}

#area #img #cropper b {
  display: block;
  position: absolute;
  z-index: 100;
}

#area #img #cropper b:hover {
  -moz-box-shadow: 0px 0px 1px #fff;
  -webkit-box-shadow: 0px 0px 2px #fff;
  box-shadow: 0px 0px 1px #fff;
}

#area #img #cropper b em {
  display: block;
  width: 6px;
  height: 6px;
  background: #000;
  margin: 3px;
  -moz-box-shadow: 0 0 1px #efefef;
  -webkit-box-shadow: 0 0 2px #fff;
  box-shadow: 0 0 1px #efefef;
}

#area #img #cropper.input b em {
  background: #FFA81E
}

#lt{left: -6px; top: -6px; cursor: nw-resize}
#mt{top: -6px; left: 50%; margin-left: -6px; cursor: n-resize}
#rt{right: -6px; top: -6px; cursor: ne-resize}
#rm{right: -6px; top: 50%; margin-top: -6px; cursor:e-resize}
#rb{right: -6px; bottom: -6px; cursor: se-resize}
#mb{bottom: -6px; left: 50%; margin-left: -6px; cursor: n-resize}
#lb{left: -6px; bottom: -6px; cursor: sw-resize}
#lm{left: -6px; top: 50%; margin-top: -6px; cursor: e-resize}

#cropper div#cropsize {
  position: absolute;
  left:6px;
  font-size: 10px;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  cursor: text;
}

#cropper div#cropsize input {
   width: 20px;
   background: none;
   border: 0;
   font-size: 11px;
   text-align: center;
   height: 13px;
   line-height: 13px;
   padding: 1px;
   margin: 0;
   color: #fff;
  -moz-user-select: text;
  -webkit-user-select: text;

}

#cropper div#cropsize input.over {
  color: #770000
}

#cropper div#cropsize input:first-child + i {
  padding-top: 2px;
 }

 #cropper div#cropsize #setSize {
   cursor: pointer;
 }

 a.disabled {
   cursor: default;
   opacity: 0.4;
   filter: Alpha(opacity=40);
 }
/*---------------------------- IE < 9 styles for crop area --------------------------- */

#area #img.inIE #cropper {
  border: 1px dashed #b0b0b0
}

#area #img.inIE #cropper b:hover {
  outline: 1px dotted #b0b0b0
}

#area #img.inIE #cropper b em {
  outline: 1px solid #999
}

