/*
    Document   : style
    Created on : 19.09.2011, 23:42:22
    Author     : Александр
    Description: Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  background-position:0 0;
  background-repeat:no-repeat;
  border:0 none;
  font-size:100%;
  font-style:inherit;
  font-weight:normal;
  margin:0;
  padding:0;
  text-align:left;
  font-family: Arial
}
html, body {
  height: 100%;
}

body {
  overflow: hidden;
  background: #ababab;
}

h2 {width: 800px; margin: 0 auto;}

#wrap {
 position: relative;
 min-height: 100%;
}

#area {
  position: relative;
  overflow: hidden;
  min-height: 100%;
  max-height: 100%;
}

#area #img {
  position: absolute;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  z-index: 40;
  cursor: crosshair;
  box-shadow: 0 0 10px #555;
}

#area.dragable #img {
  cursor: url("../images/crop/grab.cur"), move;
}

#area #img.active.in {
  cursor: url("../images/crop/zoom_in.cur"), crosshair;
}
#area #img.active.out {
  cursor: url("../images/crop/zoom_out.cur"), crosshair;
}

#area.dragable #img.movingNow,
#area #img #cropper.show.movingNow {
  cursor: url("../images/crop/grabbing.cur"), move
}

#area #img > div {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50;
  top: 0;
  left: 0;
}

#area #img div#overlay {
  z-index: 2;
  opacity: 0.4;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=40)";
  background: #000;
}

#area #img img {
  display: block;
}

#area #img img#over {
  position: absolute;
  z-index: 49;
  top: 0;
  left: 0;
  clip: rect(0px,0px,0px,0px);
}

#area #img #cropper {
  display: none;
  width: 0;
  height: 0;
  background: url("../images/crop/pixel.gif") 0 0;
  -moz-user-select: -moz-none;
  -webkit-user-select: -webkit-none;
  -moz-box-shadow: 0px 0px 2px #fff;
  -webkit-box-shadow: 0px 0px 2px #fff;
  box-shadow: 0 0 2px #fff;
}

#area #img #undercoat {
  display: none;
  width: 0;
  height: 0;
  z-index: 1 !important;
}

#area #img #undercoat.show {
  display: block;
  background: #c8c8c8;
}

#area #img #cropper.show {
  display: block;
  cursor: url("../images/crop/grab.cur"), move;
}

#area #img #cropper b {
  display: block;
  position: absolute;
  z-index: 100;
}

#area #img #cropper b:hover {
  -moz-box-shadow: 0px 0px 1px #fff;
  -webkit-box-shadow: 0px 0px 2px #fff;
  box-shadow: 0px 0px 1px #fff;
}

#area #img #cropper b em {
  display: block;
  width: 6px;
  height: 6px;
  background: #000;
  margin: 3px;
  -moz-box-shadow: 0 0 1px #efefef;
  -webkit-box-shadow: 0 0 2px #fff;
  box-shadow: 0 0 1px #efefef;
}

#area #img #cropper.input b em {
  background: blueviolet
}

#lt{left: -6px; top: -6px; cursor: nw-resize}
#mt{top: -6px; left: 50%; margin-left: -6px; cursor: n-resize}
#rt{right: -6px; top: -6px; cursor: ne-resize}
#rm{right: -6px; top: 50%; margin-top: -6px; cursor:e-resize}
#rb{right: -6px; bottom: -6px; cursor: se-resize}
#mb{bottom: -6px; left: 50%; margin-left: -6px; cursor: n-resize}
#lb{left: -6px; bottom: -6px; cursor: sw-resize}
#lm{left: -6px; top: 50%; margin-top: -6px; cursor: e-resize}

#cropper div#cropsize {
  position: absolute;
  left:6px;
  bottom: -14px;
  height: 14px;
  line-height: 14px;
  background: #888;
  color: #fff;
  font-size: 13px;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  cursor: text;
}

#cropper div#cropsize input {
  background: #888;
  color: #fff;
  width: 20px;
  border: 0;
  margin: 0 1px;
  font-size: 10px;
  height: 12px;
  padding:0 0 2px 0;
  text-align: center;
  -moz-user-select: text;
  -webkit-user-select: text;
}

#cropper div#cropsize input.over {
  color: #770000
}

/*---------------------------- IE < 9 styles for crop area --------------------------- */

#area #img.inIE #cropper {
  border: 1px dashed #b0b0b0
}

#area #img.inIE #cropper b:hover {
  outline: 1px dotted #b0b0b0
}

#area #img.inIE #cropper b em {
  outline: 1px solid #999
}

/*---------------------------------- TOOLS STYLES ------------------------------- */
#tools {
  left: 0;
  bottom: 0;
  width: 100%;
  font: 14px/40px;
  color: #444;
  padding: 0 20px;
  background: #ededed;
  height:40px;
  margin-top: -40px;
  position: relative;
  z-index: 100;
  box-shadow: 0 0 5px #666;
}

#tools label {
  margin-right: 5px;
}

#tools select {
  padding: 2px;
  margin-right: 30px;
}

#tools span#drag,
#tools span#crop {
  padding: 0 12px;
  line-height: 22px;
  height: 22px;
  font-size: 17px;
  background-position: 0 100%;
  cursor: pointer;
}
#tools span#drag {
  background-image: url("../images/crop/hand.jpg");
  margin-right: 5px;
}
#tools span#crop {
  background-image: url("../images/crop/crop.jpg");
  margin-right: 30px;
}

#tools b {
  margin-right: 5px
}
#tools input {
  text-align: center;
  padding: 2px;
  outline: none;
}

#tools span.active {
  background-position: 0 0 !important;
}


#tools button {
  margin: 5px 8px 5px 0;
  padding: 2px 14px;
  font-size: 13px;
  cursor: pointer;
  /* color: #333;
  text-shadow: 1px 1px 0 #efefef; */
}


#tools #plus,
#tools #minus {
  font-size: 16px;
}

#tools #reset {
  margin: 0 60px 0 20px
}

#tools #center {
  width: 30px;
  background: url("../images/crop/center.png") 50% 50% no-repeat;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

#crop-form {
  display: none
}